#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
#Reboot after installation
reboot
#Use text mode install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=no --xlayouts='no'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=tplco8-mini
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$tDWPLLSozb76tEtQ$7bAVl5pqous9V/.1NIsAWJkPZvQkMO1oRuvltvhpdjAduQqcgjb9Ee5c7xxOgszosMlewYC1J3sUTwBuEO0CR.
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Oslo --isUtc --nontp
# Create user sysop - passwd changeme
user --groups=wheel --name=sysop --password=$6$tDWPLLSozb76tEtQ$7bAVl5pqous9V/.1NIsAWJkPZvQkMO1oRuvltvhpdjAduQqcgjb9Ee5c7xxOgszosMlewYC1J3sUTwBuEO0CR. --iscrypted --gecos="System Ops"

%packages
@^minimal-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

